<body class="background">     
    <div class="portfolio-container">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <figure>
              <img src="https://via.placeholder.com/100x100 " alt="placeholder" >
            </figure>
          </div>
          <div class="back">
            <figure>
              <img src="https://via.placeholder.com/100x100 " alt="placeholder" >
            </figure>
          </div>
        </div>
      </div>
    </div>